ion-badge{
  margin-right: 5px;
}


ion-grid{
  background-color:white;
}
ion-chip{

  left: 10px;
  right: 0px;
}

ion-col{
  margin:  5px;
  margin-top: 5px;
}



.col1{
  background-color: #b8d391;
  border-radius: 8%;

}
.col2{
  background-color:rgb(241, 222, 111);
  border-radius: 10%;
}
.col3{
  background-color:#71a6c9;
  border-radius: 10%;
}
.col4{
  background-color:#f89956;
  border-radius: 10%;
}
.chip4{
  left: 10px;
  right: 0px;
}
.chip3{
  left: 10px;
  right: 0px;
}
.chip2{
  left: 10px;
  right: 0px;
}
