// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /**bulbasaur1**/
  --ion-color-bulbasaur1: #b97fc9;
	--ion-color-bulbasaur1-rgb: 185,127,201;
	--ion-color-bulbasaur1-contrast: #000000;
	--ion-color-bulbasaur1-contrast-rgb: 0,0,0;
	--ion-color-bulbasaur1-shade: #a370b1;
	--ion-color-bulbasaur1-tint: #c08cce;

  /**bulbasaur2**/
  --ion-color-bulbasaur2: #9bcc50;
	--ion-color-bulbasaur2-rgb: 155,204,80;
	--ion-color-bulbasaur2-contrast: #000000;
	--ion-color-bulbasaur2-contrast-rgb: 0,0,0;
	--ion-color-bulbasaur2-shade: #88b446;
	--ion-color-bulbasaur2-tint: #a5d162;

  /**charmander**/
  --ion-color-charmander: #fd7d24;
	--ion-color-charmander-rgb: 253,125,36;
	--ion-color-charmander-contrast: #000000;
	--ion-color-charmander-contrast-rgb: 0,0,0;
	--ion-color-charmander-shade: #df6e20;
	--ion-color-charmander-tint: #fd8a3a;
  /**squirtle**/
  --ion-color-squirtle: #4592c4;
	--ion-color-squirtle-rgb: 69,146,196;
	--ion-color-squirtle-contrast: #000000;
	--ion-color-squirtle-contrast-rgb: 0,0,0;
	--ion-color-squirtle-shade: #3d80ac;
	--ion-color-squirtle-tint: #589dca;
  /**pikachu**/
  --ion-color-pikachu: #eed535;
	--ion-color-pikachu-rgb: 238,213,53;
	--ion-color-pikachu-contrast: #000000;
	--ion-color-pikachu-contrast-rgb: 0,0,0;
	--ion-color-pikachu-shade: #d1bb2f;
	--ion-color-pikachu-tint: #f0d949;
  /**cinza**/
  --ion-color-cinza: #e3e3e3;
	--ion-color-cinza-rgb: 227,227,227;
	--ion-color-cinza-contrast: #000000;
	--ion-color-cinza-contrast-rgb: 0,0,0;
	--ion-color-cinza-shade: #c8c8c8;
	--ion-color-cinza-tint: #e6e6e6;
/**roxo**/
--ion-color-roxo: #a23dd1;
	--ion-color-roxo-rgb: 162,61,209;
	--ion-color-roxo-contrast: #ffffff;
	--ion-color-roxo-contrast-rgb: 255,255,255;
	--ion-color-roxo-shade: #8f36b8;
	--ion-color-roxo-tint: #ab50d6;
  /**azul**/
  --ion-color-azul: #365bc9;
	--ion-color-azul-rgb: 54,91,201;
	--ion-color-azul-contrast: #ffffff;
	--ion-color-azul-contrast-rgb: 255,255,255;
	--ion-color-azul-shade: #3050b1;
	--ion-color-azul-tint: #4a6bce;
  /**vermelho**/
  --ion-color-vermelho: #c11f1f;
	--ion-color-vermelho-rgb: 193,31,31;
	--ion-color-vermelho-contrast: #ffffff;
	--ion-color-vermelho-contrast-rgb: 255,255,255;
	--ion-color-vermelho-shade: #aa1b1b;
	--ion-color-vermelho-tint: #c73535;
  /**white**/
  --ion-color-white: #ffffff;
	--ion-color-white-rgb: 255,255,255;
	--ion-color-white-contrast: #000000;
	--ion-color-white-contrast-rgb: 0,0,0;
	--ion-color-white-shade: #e0e0e0;
	--ion-color-white-tint: #ffffff;

}

.ion-color-bulbasaur1 {
	--ion-color-base: var(--ion-color-bulbasaur1);
	--ion-color-base-rgb: var(--ion-color-bulbasaur1-rgb);
	--ion-color-contrast: var(--ion-color-bulbasaur1-contrast);
	--ion-color-contrast-rgb: var(--ion-color-bulbasaur1-contrast-rgb);
	--ion-color-shade: var(--ion-color-bulbasaur1-shade);
	--ion-color-tint: var(--ion-color-bulbasaur1-tint);
}
.ion-color-bulbasaur2 {
	--ion-color-base: var(--ion-color-bulbasaur2);
	--ion-color-base-rgb: var(--ion-color-bulbasaur2-rgb);
	--ion-color-contrast: var(--ion-color-bulbasaur2-contrast);
	--ion-color-contrast-rgb: var(--ion-color-bulbasaur2-contrast-rgb);
	--ion-color-shade: var(--ion-color-bulbasaur2-shade);
	--ion-color-tint: var(--ion-color-bulbasaur2-tint);
}
.ion-color-charmander {
	--ion-color-base: var(--ion-color-charmander);
	--ion-color-base-rgb: var(--ion-color-charmander-rgb);
	--ion-color-contrast: var(--ion-color-charmander-contrast);
	--ion-color-contrast-rgb: var(--ion-color-charmander-contrast-rgb);
	--ion-color-shade: var(--ion-color-charmander-shade);
	--ion-color-tint: var(--ion-color-charmander-tint);
}
.ion-color-squirtle {
	--ion-color-base: var(--ion-color-squirtle);
	--ion-color-base-rgb: var(--ion-color-squirtle-rgb);
	--ion-color-contrast: var(--ion-color-squirtle-contrast);
	--ion-color-contrast-rgb: var(--ion-color-squirtle-contrast-rgb);
	--ion-color-shade: var(--ion-color-squirtle-shade);
	--ion-color-tint: var(--ion-color-squirtle-tint);
}
.ion-color-pikachu {
	--ion-color-base: var(--ion-color-pikachu);
	--ion-color-base-rgb: var(--ion-color-pikachu-rgb);
	--ion-color-contrast: var(--ion-color-pikachu-contrast);
	--ion-color-contrast-rgb: var(--ion-color-pikachu-contrast-rgb);
	--ion-color-shade: var(--ion-color-pikachu-shade);
	--ion-color-tint: var(--ion-color-pikachu-tint);
}
.ion-color-cinza {
	--ion-color-base: var(--ion-color-cinza);
	--ion-color-base-rgb: var(--ion-color-cinza-rgb);
	--ion-color-contrast: var(--ion-color-cinza-contrast);
	--ion-color-contrast-rgb: var(--ion-color-cinza-contrast-rgb);
	--ion-color-shade: var(--ion-color-cinza-shade);
	--ion-color-tint: var(--ion-color-cinza-tint);
}
.ion-color-roxo {
	--ion-color-base: var(--ion-color-roxo);
	--ion-color-base-rgb: var(--ion-color-roxo-rgb);
	--ion-color-contrast: var(--ion-color-roxo-contrast);
	--ion-color-contrast-rgb: var(--ion-color-roxo-contrast-rgb);
	--ion-color-shade: var(--ion-color-roxo-shade);
	--ion-color-tint: var(--ion-color-roxo-tint);
}
.ion-color-azul {
	--ion-color-base: var(--ion-color-azul);
	--ion-color-base-rgb: var(--ion-color-azul-rgb);
	--ion-color-contrast: var(--ion-color-azul-contrast);
	--ion-color-contrast-rgb: var(--ion-color-azul-contrast-rgb);
	--ion-color-shade: var(--ion-color-azul-shade);
	--ion-color-tint: var(--ion-color-azul-tint);
}
.ion-color-vermelho {
	--ion-color-base: var(--ion-color-vermelho);
	--ion-color-base-rgb: var(--ion-color-vermelho-rgb);
	--ion-color-contrast: var(--ion-color-vermelho-contrast);
	--ion-color-contrast-rgb: var(--ion-color-vermelho-contrast-rgb);
	--ion-color-shade: var(--ion-color-vermelho-shade);
	--ion-color-tint: var(--ion-color-vermelho-tint);
}
.ion-color-white {
	--ion-color-base: var(--ion-color-white);
	--ion-color-base-rgb: var(--ion-color-white-rgb);
	--ion-color-contrast: var(--ion-color-white-contrast);
	--ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
	--ion-color-shade: var(--ion-color-white-shade);
	--ion-color-tint: var(--ion-color-white-tint);
}
